@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: "Inter", sans-serif;
    }
    @supports (font-variation-settings: normal) {
        :root {
            font-family: "Inter var", sans-serif;
        }
    }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}